<!DOCTYPE html><html lang="en"><meta charset="utf-8"><link rel="icon" href="data:,"><title>1kb Profile</title><style>    body{        font-family: sans-serif;    }    div{        max-width: 512px;        margin: auto;    }    h1,p{        margin-bottom: 1.1em;    }    a{        font-style: italic;        font-size: small;        text-decoration: none;    }</style><body><div><a href='{{user}}/p'><h1>{{user}}</h1></a><p>{{notes}} Notes, {{following}} Following, {{followers}} Followers<p><a href='{{user}}/f'>{{datestamp}}</a><p>{{content}}</div>